[submodule "krystofl.github.io"]
	path = krystofl.github.io
	url = git@github.com:krystofl/krystofl.github.io.git
	branch = master
[submodule "krystof-utils"]
	path = krystof-utils
	url = git@github.com:krystofl/krystof-utils.git
	branch = master
[submodule "klog-assets"]
	path = klog-assets
	url = git@github.com:krystofl/klog-assets.git
	branch = master
